{{ partial "head.html" . }}

{{ partial "header.html" . }}

<!-- The main content -->
<main class="vyom-main-content vyom-contact-page">

  <!-- Heading -->
  <h1 class="vyom-contact-page-heading">{{ .Title | humanize }}</h1>

  <!-- The content -->
  <div class="vyom-contact-page-content">
      {{ .Content }}
  </div>

</main>

{{ partial "footer.html" . }}
