<!-- Template to show a single post -->
<!-- Single post template -->
{{ partial "head.html" . }}

{{ partial "header.html" . }}

<!-- The post -->
<main id="vyom-post" class="vyom-main-content" itemscope itemtype="https://schema.org/BlogPosting">

  <!-- Schema -->
  <!-- Site author -->
  <span class="vyom-schema-only" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <span itemprop="name">
      {{ T "site_author" }}
    </span>
  </span>
  <!-- Site publisher -->
  <span class="vyom-schema-only" itemprop="publisher" itemscope itemtype="https://schema.org/Person">
    <span itemprop="name">
      {{ T "site_author" }}
    </span>
  </span>
  <!-- Language -->
  <span class="vyom-schema-only" itemprop="inLanguage">{{ .Lang }}</span>
  <!-- license -->
  <a href="https://creativecommons.org/licenses/by/4.0/" class="vyom-schema-only" itemprop="license"></a>

  <!-- post title -->
  <h1 id="vyom-post-title" itemprop="headline">
    {{ .Title }}
  </h1>

  <!-- post meta -->
  <div id="vyom-post-meta">

    <!-- publish date -->
    <h4 id="vyom-post-meta-timestamp">
      <!-- calendar icon -->
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <span itemprop="datePublished" datetime="{{ .Date }}">{{ .Date.Format "Jan 03, 1998" }}</span>
    </h4>

    <!-- Add comment -->
    <!-- <h4 id="vyom-post-meta-add-comment"> -->
      <!-- Comment icon -->
      <!-- <a href="#vyom-post-disqus"> -->
        <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
      <!-- </a> -->
      <!-- <a href='#'>{{ T "post_add_comment" }}</a> -->

    <!-- </h4> -->

    <!-- tags -->
    <h4 id="vyom-post-meta-tags">

      <!-- tag icon -->
      <a href="#">
        <i class="fa fa-tags" aria-hidden="true"></i>
      </a>
      <span itemprop="keywords">
        {{ range .Params.tags }}
          <a href="{{ "/tags/" }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>

    </h4>

  </div>

  <!-- content -->
  <div id="vyom-post-content" itemprop="mainEntityOfPage">

    {{ .Content }}

  </div>

  <!-- Disqus comments -->
  <div id="vyom-post-disqus" itemprop="comment" itemscope itemtype="https://schema.org/Comment">

    {{ partial "disqus.html" . }}

  </div>

</main>

{{ partial "footer.html" . }}
