/*
* Styles the contact page
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
* .vyom-contact-page: The page
*
*/

/*
 * The contact page
 *
 * - @vyom-margin-container: place in container
 *
*/
.vyom-contact-page {

  // place in container
  @include vyom-margin-container;

  /*
  * The Heading
  *
  * - text-align: center align
  *
  */
  .vyom-contact-page-heading {

    // center align
    text-align: center;

  }

  /*
  * The content
  *
  * - a: The links
  *
  */
  .vyom-contact-page-content {

    /*
    * The links
    *
    * - text-decoration: remove underline
    *
    */
    a {

      // remove underline
      text-decoration: none;

      // make it merge with rest of the text
      color: $vyom-color-rich-black;

      /*
      * Hover rules
      *
      * - text-decoration, color: show that its hovered
      *
      */
      &:hover {

        // show that its hovered
        text-decoration: underline;
        color: $vyom-color-dark-slate-gray;

      }

    }

  }

}
