/*
* Footer for the site.
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
* #vyom-site-footer-container: Footer container
*
*/

/*
* Footer container
*
* - background-color: make it look distinct
* - #vyom-site-footer-container-content: The container content
*
*/
#vyom-site-footer-container {

  // Make it look distinct
  background-color: $vyom-color-dark-slate-gray;

  /*
  * The container content
  *
  * - @vyom-margin-container: Place in margin container
  * - @vyom-clearfix: clear the floats
  * - #vyom-site-footer-container-content-copyleft: the copyleft
  * - #vyom-site-footer-container-content-credits: the credits
  *
  */
  #vyom-site-footer-container-content {

    // place in margin container
    @include vyom-margin-container;

    // clear the floats
    @include vyom-clearfix;

    /*
    * The copyleft
    *
    * - float: left align
    * - padding-top, padding-bottom: give space to content
    *
    */
    #vyom-site-footer-container-content-copyleft {

      // left align
      float: left;

      // give space to content
      padding-top: 20px;
      padding-bottom: 20px;

    }

    /*
    * The credits
    *
    * - float: right align
    * - padding-top, padding-bottom: give space to content
    * - #vyom-site-footer-container-content-hugo: hugo icon
    * - #vyom-site-footer-container-content-font-awesome: Font awesome icon
    *
    */
    #vyom-site-footer-container-content-credits {

      // right align
      float: right;

      // give space to content
      padding-top: 20px;
      padding-bottom: 20px;

      /*
       * Hugo icon
       *
       * - img: the image
       *
      */
      #vyom-site-footer-container-content-hugo {

        /*
         * The image
         *
         * - width, height: image size
         *
        */
        img {

          // image size
          height: 31px;
          width: 27px;

        }

      }

      /*
       * Font awesome icon
       *
       * - img
       *
      */
      #vyom-site-footer-container-content-font-awesome {

        /*
         * The image
         *
         * - width, height: image size
         *
        */
        img {

          // image size
          height: 31px;
          width: 31px;

        }

      }

    }

  }

}
