/*
* Grid.
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
  * - @vyom-media-small: mobile rules
  * - @vyom-media-medium: tablet rules
  * - @vyom-media-large: desktop rules
  * - float the columns
  * - .vyom-row: the row
  *
*/

@include vyom-media-small {

  // Mobile grid
  .vyom-col-sm-1 {width: 8.33%;}
  .vyom-col-sm-2 {width: 16.66%;}
  .vyom-col-sm-3 {width: 25%;}
  .vyom-col-sm-4 {width: 33.33%;}
  .vyom-col-sm-5 {width: 41.66%;}
  .vyom-col-sm-6 {width: 50%;}
  .vyom-col-sm-7 {width: 58.33%;}
  .vyom-col-sm-8 {width: 66.66%;}
  .vyom-col-sm-9 {width: 75%;}
  .vyom-col-sm-10 {width: 83.33%;}
  .vyom-col-sm-11 {width: 91.66%;}
  .vyom-col-sm-12 {width: 100%;}

}

/*
 * Tablet rules
*/
@include vyom-media-medium {

  // Tablet grid
  .vyom-col-md-1 {width: 8.33%;}
  .vyom-col-md-2 {width: 16.66%;}
  .vyom-col-md-3 {width: 25%;}
  .vyom-col-md-4 {width: 33.33%;}
  .vyom-col-md-5 {width: 41.66%;}
  .vyom-col-md-6 {width: 50%;}
  .vyom-col-md-7 {width: 58.33%;}
  .vyom-col-md-8 {width: 66.66%;}
  .vyom-col-md-9 {width: 75%;}
  .vyom-col-md-10 {width: 83.33%;}
  .vyom-col-md-11 {width: 91.66%;}
  .vyom-col-md-12 {width: 100%;}

}


/*
 * Desktop rules
*/
@include vyom-media-large {

  // Desktop grid
  .vyom-col-lg-1 {width: 8.33%;}
  .vyom-col-lg-2 {width: 16.66%;}
  .vyom-col-lg-3 {width: 25%;}
  .vyom-col-lg-4 {width: 33.33%;}
  .vyom-col-lg-5 {width: 41.66%;}
  .vyom-col-lg-6 {width: 50%;}
  .vyom-col-lg-7 {width: 58.33%;}
  .vyom-col-lg-8 {width: 66.66%;}
  .vyom-col-lg-9 {width: 75%;}
  .vyom-col-lg-10 {width: 83.33%;}
  .vyom-col-lg-11 {width: 91.66%;}
  .vyom-col-lg-12 {width: 100%;}

}


// float the columns
[class*="vyom-col-"] {

   float: left;

}

// row
.vyom-row::after {

  visibility: hidden;
  display: block;
  content: "";
  clear: both;

}
