/*
* Header for the site.
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
* #vyom-site-header: Site header
* #vyom-site-header-separator: Header separator
*/

/*
* Site header
*
* - #vyom-site-header-shri-ganesh-vandana: Shri Ganesh Vandana
* - #vyom-site-header-main-menu: Main menu for the site
* - #vyom-site-header-secondary-menu: Secondary menu
*
*/
#vyom-site-header {

  /*
  * Shri Ganesh vandana: All things must begin by His name.
  *
  * - text-align: Center align
  * - background-color: Praise Laxmi ji with Gold
  * - color: Make text look good
  * - margin-top: Align with viewport
  * - margin-top: Align with siblings
  *
  */
  #vyom-site-header-shri-ganesh-vandana {

    // Center align
    text-align: center;

    // Praise Laxmi ji with Gold
    background-color: $vyom-color-gold;

    // Make text look good
    color: $vyom-color-rich-black;

    // align with viewport
    margin-top: 0px;

    // align with siblings
    margin-bottom: 0px;

    // Give space to the text
    padding-top: 10px;
    padding-bottom: 10px;

  }

  /*
  * Main menu for the site
  *
  * - @vyom-margin-container: place in container
  * - @vyom-clearfix: Clear the floats
  * - @vyom-media-small: Mobile rules
  * - @vyom-media-medium: Tablet rules
  * - @vyom-media-large: Desktop and above rules
  * - ul: Menu and lang switcher are lists
  * - .vyom-site-header-main-navigation-icon: Main site wide navigation icon for mobile
  * - #vyom-site-header-main-navigation-icon-checkbox: The nav icon checkbox
  * - #vyom-site-header-main-navigation-icon-checkbox:checked ~ #vyom-site-header-main-navigation: When the nav icon is clicked
  * - #vyom-site-header-main-navigation: Main site wide navigation
  * - #vyom-site-header-language-switcher: Language switcher
  *
  */
  #vyom-site-header-main-menu {

    // place in container
    @include vyom-margin-container;

    // Clear the floats
    @include vyom-clearfix;

    /*
    * Mobile rules
    *
    */
    @include vyom-media-small  {

    }

    /*
    * Tablet rules
    *
    * - margin-top: Give text space from sibling container
    *
    */
    @include vyom-media-medium {

      // Give text space from sibling container
      margin-top: $vyom-site-header-main-menu-font-size-medium-px;
      margin-top: $vyom-site-header-main-menu-font-size-medium;

    }

    /*
    * Desktop and above rules
    *
    * - margin-top: Give text space from sibling container
    *
    */
    @include vyom-media-large {

      // Give text space from sibling container
      margin-top: $vyom-site-header-main-menu-font-size-large-px;
      margin-top: $vyom-site-header-main-menu-font-size-large;

    }

    /*
    * Menu and lang switcher are lists
    *
    * - margin-top: align with siblings
    * - padding: align with container
    * - li: the items
    *
    */
    ul {

      // align with siblings
      margin-top: 0px;

      // align with container
      padding: 0px;

      /*
      * The items
      *
      * - list-style-type: remove bullets
      * - @vyom-media-small: Mobile rules
      * - @vyom-media-non-small: Non mobile rules
      * - @vyom-media-medium: Tablet rules
      * - @vyom-media-large: Desktop and above rules
      * - a: the links
      *
      */
      li {

        // remove bullets
        list-style-type: none;

        /*
        * Mobile rules
        *
        * - margin-top: Give space from siblings
        *
        */
        @include vyom-media-small {

          // Give space from siblings
          margin-top: $vyom-site-header-main-menu-font-size-small-px;
          margin-top: $vyom-site-header-main-menu-font-size-small;

        }

        /*
        * Non-mobile rules
        *
        * - display: Show horizontally
        *
        */
        @include vyom-media-non-small {

          // show horizontally
          display: inline-block;

        }

        /*
        * Tablet rules
        *
        * - margin-right: Give space from siblings
        * - &:last-child: Negate the effect of adding margin to all
        *
        */
        @include vyom-media-medium {

          // Give space from siblings
          margin-right: $vyom-site-header-main-menu-font-size-medium-px;
          margin-right: $vyom-site-header-main-menu-font-size-medium;

          /*
          * The last element
          *
          * - margin-right: Negate the effect of adding margin to all
          *
          */
          &:last-child {

            // Negate the effect of adding margin to all
            margin-right: 0px;

          }

        }

        /*
        * Desktop and above rules
        *
        * - margin-right: Give space from siblings
        * - &:last-child: Negate the effect of adding margin to all
        *
        */
        @include vyom-media-large {

          // Give space from siblings
          margin-right: $vyom-site-header-main-menu-font-size-large-px;
          margin-right: $vyom-site-header-main-menu-font-size-large;

          /*
          * The last element
          *
          * - margin-right: Negate the effect of adding margin to all
          *
          */
          &:last-child {

            // Negate the effect of adding margin to all
            margin-right: 0px;

          }

        }


        /*
        * The links
        *
        * - text-decoration: Remove underline
        * - color: Make it look good
        * - @vyom-media-small: mobile rules
        * - @vyom-media-medium: Tablet rules
        * - @vyom-media-large: Desktop and above rules
        *
        */
        a {

          // remove underline
          text-decoration: none;

          // Make them look good
          color: $vyom-color-rich-black;

          /*
          * Mobile rules
          *
          * - font-size: Make font bigger
          *
          */
          @include vyom-media-small {

            // Make font bigger
            font-size: $vyom-site-header-main-menu-font-size-small-px;
            font-size: $vyom-site-header-main-menu-font-size-small;

          }

          /*
          * Tablet rules
          *
          * - font-size: Make font bigger
          *
          */
          @include vyom-media-medium {

            // Make font bigger
            font-size: $vyom-site-header-main-menu-font-size-medium-px;
            font-size: $vyom-site-header-main-menu-font-size-medium;

          }

          /*
          * Desktop and above rules
          *
          * - font-size: Make font bigger
          *
          */
          @include vyom-media-large {

            // Make font bigger
            font-size: $vyom-site-header-main-menu-font-size-large-px;
            font-size: $vyom-site-header-main-menu-font-size-large;

          }

        }

      }

    }
    /*
    * Main site wide navigation icon for mobile
    *
    * - cursor: Change the cursor to pointer to give the feel of a link
    * - i: the icon
    * - @vyom-media-non-small: Non mobile rules
    *
    */
    .vyom-site-header-main-navigation-icon {

      // Change the cursor to pointer to give the feel of a link
      cursor: pointer;

      /*
      * The icon
      *
      * - margin-top: Give space from siblings
      *
      */
      i {

        // Give space from siblings
        margin-top: $vyom-site-header-main-menu-font-size-small-px;
        margin-top: $vyom-site-header-main-menu-font-size-small;

      }



      /*
      * Non mobile rules
      *
      * - display: don't show
      *
      */
      @include vyom-media-non-small {

        // don't show
        display: none;

      }

    }

    /*
    * The checkbox for nav icon
    *
    * - display: Don't show
    *
    */
    #vyom-site-header-main-navigation-icon-checkbox {

      // don't show
      display: none;

    }

    /*
    * When the nav icon is clicked
    *
    * - display: show the nav menu
    * - position: Make sure it doesn't change position of the nav icon
    *
    */
    #vyom-site-header-main-navigation-icon-checkbox:checked ~ #vyom-site-header-main-navigation {

      // show the nav menu
      display: block;

      // Make sure it doesn't change position of the nav icon
      position: absolute;

    }

    /*
    * Main site wide navigation
    *
    * - float: left align
    * - @vyom-media-small: Mobile rules
    *
    */
    #vyom-site-header-main-navigation {

      // left align
      float: left;

      /*
      * Mobile rules
      *
      * - display: hidden by default
      *
      */
      @include vyom-media-small {

        // Hidden by default
        display: none;


      }

    }

    /*
    * Language Switcher
    *
    * - float: right align
    * - @vyom-media-small: mobile rules
    *
    */
    #vyom-site-header-language-switcher {

      // right align
      float: right;

      /*
      * Mobile rules
      *
      * - ul: the list container
      *
      */
      @include vyom-media-small {

        /*
        * The list container
        *
        * - li: The list
        *
        */
        ul {

          /*
          * The list
          *
          * - display: show horizontally
          * - margin-right: Give space from siblings
          * - &:last-child: The last element
          *
          */
          li {

            // Show horizontally
            display: inline-block;

            // Give space from siblings
            margin-right: $vyom-site-header-main-menu-font-size-small-px;
            margin-right: $vyom-site-header-main-menu-font-size-small;

            /*
            * The last element
            *
            * - margin-right: Negate the effect of adding margin to all
            *
            */
            &:last-child {

              // Negate the effect of adding margin to all
              margin-right: 0px;

            }

          }

        }

      }

    }

  }

  /*
  * Secondary menu with branding etc.
  *
  * - @vyom-clearfix: Clear the floats
  * - @vyom-margin-container: place in container
  * - #vyom-site-header-secondary-menu-site-branding: Site branding
  * - #vyom-site-header-secondary-menu-contact-links: Contact links
  *
  */
  #vyom-site-header-secondary-menu {

    // Clear the floats
    @include vyom-clearfix;

    //place in container
    @include vyom-margin-container;


    /*
    * Site branding
    *
    * - float: align left
    * - #vyom-site-header-secondary-menu-site-branding-text: Site branding text
    *
    */
    #vyom-site-header-secondary-menu-site-branding {

      // align left
      float: left;

      /*
      * logo
      *
      * - text-decoration: remove underline
      *
      */
      #vyom-site-header-secondary-menu-site-branding-logo {

        // remove underline
        text-decoration: none;

        /*
        * The image
        *
        * - vertical-align: center align with the text
        * - @vyom-border-radius: Make the image round
        * - @vyom-media-small: mobile rules
        * - @vyom-media-medium: tablet rules
        * - @vyom-media-large: desktop rules
        *
        */
        img {

          // center align with the text
          vertical-align: middle;

          // Make the image round
          @include vyom-border-radius(50px);

          /*
          * Mobile rules
          *
          * - width, height: size of image
          *
          */
          @include vyom-media-small {

            // size of image
            width: 55px;
            height: auto;

          }

          /*
          * Tablet rules
          *
          * - width, height: size of image
          *
          */
          @include vyom-media-medium {

            // size of image
            width: 70px;
            height: auto;

          }

          /*
          * Desktop rules
          *
          * - width, height: size of image
          *
          */
          @include vyom-media-large {

            // size of image
            width: 100px;
            height: auto;

          }

        }

      }

      /*
      * Site branding text
      *
      * - display: show horizontally
      * - vertical-align: Center align with the image
      * - @vyom-media-small: mobile rules
      * - @vyom-media-medium: tablet rules
      * - @vyom-media-large: desktop rules
      *
      */
      #vyom-site-header-secondary-menu-site-branding-text {

        // show horizontally
        display: inline-block;

        // center align with the image
        vertical-align: middle;

        /*
        * Mobile rules
        *
        * - display: don't show
        *
        */
        @include vyom-media-small {

          // don't show
          display: none;

        }

        /*
        * Tablet rules
        *
        * - margin-right: Give space from the image
        *
        */
        @include vyom-media-medium {

          // Give space from the image
          margin-left: $vyom-site-header-main-menu-font-size-medium-px;
          margin-left: $vyom-site-header-main-menu-font-size-medium;

        }

        /*
        * Desktop rules
        *
        * - margin-right: Give space from the image
        *
        */
        @include vyom-media-large {

          // Give space from the image
          margin-left: $vyom-site-header-main-menu-font-size-large-px;
          margin-left: $vyom-site-header-main-menu-font-size-large;

        }

        /*
        * a
        *
        * - text-decoration: remove underline
        * - color: give it branding
        *
        */
        a {

          // remove underline
          text-decoration: none;

          // Give it branding
          color: $vyom-color-deep-sky-blue;

          /*
          * Hover rules
          *
          * - color: Make it look similar
          *
          */
          &:hover {

            // make it look similar
            color: $vyom-color-dodger-blue;

          }

        }

      }

    }

    /*
    * Contact links
    *
    * - float: align right
    * - ul: The list container
    *
    */
    #vyom-site-header-secondary-menu-contact-links {

      // align right
      float: right;

      /*
      * The list container
      *
      * - li: the list
      *
      */
      ul {

        /*
        * - display: show horizontally
        * - @vyom-media-small: mobile rules
        * - @vyom-media-medium: tablet rules
        * - @vyom-media-large: desktop rules
        * - i: The icon
        *
        */
        li {
          // show horintally
          display: inline-block;

          /*
          * Mobile rules
          *
          * - margin-right: give space from sibling
          * - &:last-child: the last element
          *
          */
          @include vyom-media-small {

            // Give space from sibling
            margin-right: $vyom-site-header-main-menu-font-size-small-px/2;
            margin-right: $vyom-site-header-main-menu-font-size-small/2;

            /*
            * The last element
            *
            * - margin-right: negate the effect of adding margin to all
            *
            */
            &:last-child {

              // negate the effect of adding margin to all
              margin-right: 0px;

            }

          }

          /*
          * Tablet rules
          *
          * - margin-right: give space from sibling
          * - &:last-child: the last element
          *
          */
          @include vyom-media-medium {

            // Give space from sibling
            margin-right: $vyom-site-header-main-menu-font-size-medium-px/1.5;
            margin-right: $vyom-site-header-main-menu-font-size-medium/1.5;

            /*
            * The last element
            *
            * - margin-right: negate the effect of adding margin to all
            *
            */
            &:last-child {

              // negate the effect of adding margin to all
              margin-right: 0px;

            }

          }

          /*
           * Desktop rules
           *
           * - margin-right: give space from sibling
           * - &:last-child: the last element
           *
          */
          @include vyom-media-large {

            // Give space from sibling
            margin-right: $vyom-site-header-main-menu-font-size-large-px/1.8;
            margin-right: $vyom-site-header-main-menu-font-size-large/1.8;

            /*
             * The last element
             *
             * - margin-right: negate the effect of adding margin to all
             *
            */
            &:last-child {

              // negate the effect of adding margin to all
              margin-right: 0px;

            }

          }

          /*
          * The icon
          *
          * - color: give them branding
          * - &:hover: hover rules
          * - @vyom-media-small: mobile rules
          * - @vyom-media-medium: tablet rules
          * - @vyom-media-large: desktop rules
          *
          */
          i {

            // give them branding
            color: $vyom-color-deep-sky-blue;

            /*
             * Hover rules
             *
             * - color: Make it look hovered
             *
            */
            &:hover {

              // make it look hovered
              color: $vyom-color-dodger-blue;

            }

            /*
            * mobile rules
            *
            * - font-size: make text bigger
            *
            */
            @include vyom-media-small {

              // make text bigger
              font-size: $vyom-site-header-main-menu-font-size-small-px;
              font-size: $vyom-site-header-main-menu-font-size-small;

            }

            /*
            * tablet rules
            *
            * - font-size: make text bigger
            *
            */
            @include vyom-media-medium {

              // make text bigger
              font-size: $vyom-site-header-main-menu-font-size-medium-px;
              font-size: $vyom-site-header-main-menu-font-size-medium;

            }

            /*
            * desktop rules
            *
            * - font-size: make text bigger
            *
            */
            @include vyom-media-large {

              // make text bigger
              font-size: $vyom-site-header-main-menu-font-size-large-px;
              font-size: $vyom-site-header-main-menu-font-size-large;

            }

          }

        }

      }

    }

  }

}

/*
 * Header separator
 *
 * - width: make it smaller
 * - height: make it thicker
 * - color, background: Make it look distinct
 *
*/
#vyom-site-header-separator {

  // make it smaller
  // width: 50%;
  // make it thicker
  height: 1px;

  // Make it look distinct
  color: $vyom-color-dark-slate-gray;
  background-color: $vyom-color-dark-slate-gray;

}
