/*
* Styles the list of content
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
* .vyom-list: The list
*
*/

/*
 * The list
 *
 * - @vyom-margin-container: place in container
 * - ul: list of content
 * - .vyom-list-heading: List heading
 * - .vyom-list-item: list item
 *
*/
.vyom-list {


  // place in container
  @include vyom-margin-container;

  /*
   * list of content
   *
   * - padding-left: align with container
   * - li: the items
   *
  */
  ul {

    // Align with container
    padding-left: 0px;

    /*
     * The items
     *
     * - list-style-type: remove bullets
     *
    */
    li {

      // remove bullets
      list-style-type: none;

    }

  }

  /*
   * The heading
   *
   * - text-align: center align
   *
  */
  .vyom-list-heading {

    // center align
    text-align:center;

  }

  /*
   * List item
   *
   * - a: Links
   * - .vyom-list-item-timestamp: Timestamp
   * - .vyom-list-item-info : info
   *
  */
  .vyom-list-item {

    /*
     * Links
     *
     * - text-decoration: remove underline
     * - color: make it look cool
     *
    */
    a {

      // remove underline
      text-decoration: none;

      // Make it look cool
      color: $vyom-color-rich-black;

    }

    /*
     * Timestamp
     *
     * - color: Make it look less stark
     *
    */
    .vyom-list-item-timestamp {

      // Make it look less stark
      color: $vyom-color-dark-slate-gray;

    }

    /*
     *  info
     *
     * - .vyom-list-item-title: The title
     * - .vyom-list-item-tags: the tags
     *
    */
    .vyom-list-item-info  {

      /*
       * The title
       *
       * - &:hover: hover rules
       *
      */
      .vyom-list-item-title {

        a {

          /*
           * Hover rules
           *
           * - color, text-decoration: make it look hovered
           *
          */
          &:hover {

            // make it look hovered
            color: $vyom-color-dark-slate-gray;
            text-decoration: underline;

          }

        }

      }

      /*
       * The tags
       *
       * - a: the links
       *
      */
      .vyom-list-item-tags {

        /*
         * the links
         *
         * - color: make them look separate
         * - &:hover: hover rules
         *
        */
        a {

          // Make them look separate
          color: $vyom-color-dark-slate-gray;

          /*
           * Hover rules
           *
           * - color, text-decoration: Make them look hovered
           *
          */
          &:hover {

            // Make them look hovered
            color: $vyom-color-rich-black;
            text-decoration: underline;


          }

        }

      }

    }

  }

}
