/*
* A single post.
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
* @license GPLv3+
*
*/

/*
* #vyom-post: the post
*
*/

/*
 * The post
 *
 * - @vyom-margin-container: place in contianer
 * - #vyom-post-meta: post meta
 * - #vyom-post-content: post content
 *
*/
#vyom-post {

  // place in container
  @include vyom-margin-container;

  /*
   * The title
   *
   * - text-align: center align
   *
  */
  #vyom-post-title {

    // center align
    text-align: center;

  }

  /*
   * post meta
   *
   * - text-align: center align
   * - color: make it look distinct
   * - a: the links
   * - #vyom-post-meta-timestamp: Timestamp
   * - #vyom-post-meta-add-comment: Add comment
   * - #vyom-post-meta-tags: tags
   *
  */
  #vyom-post-meta {

    // center align
    text-align: center;


    // make it look distinct
    color: $vyom-color-dark-slate-gray;

    /*
     * The links
     *
     * - color: Make it look like the rest of the meta
     * - text-decoration: remove underline
     * - &:hover: hover style
     *
    */
     a {

       // Make it look like the rest of the meta
       color: $vyom-color-dark-slate-gray;

       // remove underline
       text-decoration: none;

       /*
        * hover style
        *
        * - color, text-decoration: make them look hovered
       */
       &:hover {

         // make them look hovered
         color: $vyom-color-rich-black;
         text-decoration: underline;

       }

     }

     /*
      * Timestamp
      *
      * - display: show horizontally
      *
     */
     #vyom-post-meta-timestamp {

       // display horizontally
       display: inline-block;

     }

     /*
      * Add comments
      *
      * - display: show horizontally
      * - margin-left: separate from sibling
      *
     */
     #vyom-post-meta-add-comment {

       // display horizontally
       display: inline-block;

       // seprate from sibling
       margin-left: 10px;

     }

    /*
     * post meta tags
     *
     * - display: show horizontally
     * - margin-left: separate from siblings
     *
    */
    #vyom-post-meta-tags {

      // show horizontally
      display: inline-block;

      // separate from siblings
      margin-left: 10px;

    }

  }

  /*
   * the content
   *
   * - text-align: make text look good
   *
  */
  #vyom-post-content {

    // make text look good
    text-align: justify;

  }

}
