/*
 * Core responsiveness rules
 *
 * @author Akash Kumar Sharma <panchtatvam@gmail.com>
 * @since 1.0.0
 * @version 1.0.0
 *
*/

/*
 * - Media queries
 *
*/

// Media queries
// mobile etc.
@mixin vyom-media-small {
  @media (max-width: $vyom-viewport-medium - 1) {
    @content;
  }
}

// non-mobile devices
@mixin vyom-media-non-small {
  @media (min-width: $vyom-viewport-medium ) {
    @content;
  }
}

// tablet etc.
@mixin vyom-media-medium {
  @media (min-width: $vyom-viewport-medium) and (max-width: $vyom-viewport-large - 1) {
    @content;
  }
}

// desktop etc.
@mixin vyom-media-large {
  @media (min-width: $vyom-viewport-large ) {
    @content;
  }
}
