/*
* Typography rules
*
* @author Akash Kumar Sharma <panchtatvam@gmail.com>
* @since 1.0.0
* @version 1.0.0
*
*/


/*
* .vyom-lang-hi: Hindi fonts
* .vyom-lang-en: English fonts
*
*/


/*
* Hindi fonts
*
* - font-family: set the font
* - p
*
*/
.vyom-lang-hi {

  // set the font
  font-family: 'Vesper Libre', sans-serif;

}

/*
* Hindi tagged p
*
* - @vyom-media-small: Small device rules
* - @vyom-media-medium: Medium device rules
* - @vyom-media-large: Large device rules
*
*/
p.vyom-lang-hi {

  /*
  * Small device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-small {

    // increase line space, font size to improve reading
    line-height: 2;
    font-size: 18px;

  }

  /*
  * Medium device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-medium {

    // increase line space, font size to improve reading
    line-height: 2;
    font-size: 20px;

  }

  /*
  * Large device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-large {

    // increase line space, font size to improve reading
    line-height: 2;
    font-size: 26px;

  }

}

/*
* English fonts
*
* - font-family: set the font
* - p
*
*/
.vyom-lang-en {

  // set the font
  font-family: 'Merriweather', serif;

}


/*
* English p
*
* - @vyom-media-small: Small device rules
* - @vyom-media-medium: Medium device rules
* - @vyom-media-large: Large device rules
*
*/
p.vyom-lang-en {

  /*
  * Small device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-small {

    // increase line space, font size to improve reading
    line-height: 2.2;
    font-size: 16px;

  }

  /*
  * Medium device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-medium {

    // increase line space, font size to improve reading
    line-height: 2.8;
    font-size: 18px;

  }

  /*
  * Large device rules
  *
  * - line-height, font-size: increase line space, font size to improve reading
  *
  */
  @include vyom-media-large {

    // increase line space, font size to improve reading
    line-height: 3;
    font-size: 21px;

  }


}
