/*
 * Generic utilities
 *
 * @author Akash Kumar Sharma <panchtatvam@gmail.com>
 * @since 1.0.0
 * @version 1.0.0
 *
*/

/*
 * - @vyom-container-margin: Gives left-right margin to content from viewport
 * - @vyom-clearfix: Remove the effects of floats on siblings
 * - @vyom-transition: browser agnostic transition
 * - @vyom-border-radius: browser agnostic border radius
 * - .vyom-schema-only: Schema for search engines
 *
*/

/*
 * Gives left-right margin to content from viewport
 *
*/
@mixin vyom-margin-container {

  // mobiles etc.
  @include vyom-media-small {
    margin: 0px 5px;
    margin: 0px 3vmax;
  }

  // tablets etc.
  @include vyom-media-medium {
    margin: 0px 20px;
    margin: 0px 4vmax;
  }

  // desktop etc.
  @include vyom-media-large {
    margin: 0px 30px;
    margin: 0px 5vmax;
  }

}

/*
 * Class for @vyom-margin-container
*/
.vyom-margin-container {

  @include vyom-margin-container;

}

/*
 * Remove the effects of floats on siblings
 *
*/
@mixin vyom-clearfix {

  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
  }

}

/*
 * Browser agnostic transition
 *
*/
@mixin vyom-transition($property, $duration, $timing-function, $delay) {

  transition: $property $duration $timing-function $delay;
  -webkit-transition: $property $duration $timing-function $delay;
  -moz-transition: $property $duration $timing-function $delay;
  -o-transition: $property $duration $timing-function $delay;

}

/*
 * Browser agnostic border radius
 *
*/
@mixin vyom-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*
 * Content which is hidden but present only for schema
 *
 * - display: don't show
 *
*/
.vyom-schema-only {

  // don't show
  display: none;


}
