/*
 * Variables
 *
 * @author Akash Kumar Sharma <panchtatvam@gmail.com>
 * @since 1.0.0
 * @version 1.0.0
 *
*/

/*
 *
 * - Viewport sizes
 * - colors
 *
*/

// Viewport sizes
// Tablet threshold
$vyom-viewport-medium: 640px;
// desktop threshold
$vyom-viewport-large: 1024px;


// Colors
$vyom-color-gold: #ffd700;
$vyom-color-rich-black: #040404;
$vyom-color-deep-sky-blue: #00bfff;
$vyom-color-dodger-blue: #1e90ff;
$vyom-color-dark-slate-gray: #2f4f4f;

// font size
// Header main menu
$vyom-site-header-main-menu-font-size-small-px: 18px;
$vyom-site-header-main-menu-font-size-small: 5vw;
$vyom-site-header-main-menu-font-size-medium-px: 20px;
$vyom-site-header-main-menu-font-size-medium: 2.5vw;
$vyom-site-header-main-menu-font-size-large-px: 26px;
$vyom-site-header-main-menu-font-size-large: 1.6vw;
