<!-- Template for the list -->

<div class="vyom-list-item vyom-row">

  <!-- timestamp -->
  <div class="vyom-list-item-timestamp vyom-col-lg-2 vyom-col-md-3 vyom-col-sm-12">

    <h3 class="vyom-lang-en">{{ .Date.Format "Jan 02, 2006" }}</h3>

  </div>

  <!-- info -->
  <div class="vyom-list-item-info vyom-col-lg-10 vyom-col-md-7 vyom-col-sm-12">

    <h2 class="vyom-list-item-title">

      <a href="{{ .Permalink }}">{{ .Title | humanize }}</a>

    </h2>

    <!-- tags -->
    <h4 class="vyom-list-item-tags">

      <!-- TODO: make english tags work -->
      {{ range .Params.tags }}
        <a href="{{ "/tags/" }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}

    </h4>

  </div>

</div>
