{{ partial "head.html" . }}

{{ partial "header.html" . }}

<!-- The main content -->
<main class="vyom-frontpage-content vyom-main-content vyom-list">

  <!-- List of posts -->
  {{ range .Data.Pages }}
    {{ if eq .Type "post" }}
      <ul>
        <li>
          {{ .Render "list" }}
        </li>
      </ul>
    {{ end }}
  {{ end }}

</main>

{{ partial "footer.html" . }}
