<!-- Assets like CSS, JS that are loaded in the head -->

<!-- CSS -->
<link href="/css/style.css" rel="stylesheet">

<!-- fonts -->
<!-- English -->
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- Hindi -->
<link href="https://fonts.googleapis.com/css?family=Vesper+Libre:400,500,700,900&amp;subset=devanagari,latin-ext" rel="stylesheet">

<!-- Font awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
