<!-- Assets like CSS, JS that are loaded in the footer -->

<!-- modernizr -->
<script src="/js/modernizr-custom.js"></script>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- JS -->
<script src="/js/behavior.js"></script>
