  <!-- Footer container -->
  <div id="vyom-site-footer-container">

    <!-- The content -->
    <div id="vyom-site-footer-container-content">

      <!-- Copyleft -->
      <div id="vyom-site-footer-container-content-copyleft">
        <!-- Creative commons -->
        <a href="https://creativecommons.org/licenses/by/4.0/" title="{{ T "copyleft" }}">
          <img src="/images/footer/cc-by.svg"  alt="{{ T "copyleft" }}" />
        </a>
      </div>

      <!-- Credits -->
      <div id="vyom-site-footer-container-content-credits">

        <!-- Hugo -->
        <a href="http://gohugo.io/" id="vyom-site-footer-container-content-hugo"><img src="/images/footer/hugo.png" alt="{{ T "credits_hugo" }}" title="{{ T "credits_hugo" }}"/></a>

        <!-- Font awesome -->
        <a href="http://fontawesome.io" id="vyom-site-footer-container-content-font-awesome"><img src="/images/footer/font-awesome_4-7-0_font-awesome_100_0_27ae60_none.png" alt="{{ T "credits_font_awesome" }}" title="{{ T "credits_font_awesome" }}"/></a>

      </div>

    </div>

  </div>
  <!-- assets like CSS, JS -->
  {{ partial "assets-footer.html" . }}

  </body><!-- closed from head.html -->

</html><!-- closed from head.html -->
