<!DOCTYPE html>
<!-- closed in footer.html -->
<htm lang="{{ .Lang }}">
  <head>

    <!-- meta tags -->
    {{ partial "meta.html" . }}

    <!-- title -->
    <title>{{ T "site_title" }}</title>

    <!-- base URI for the site -->
    <base href="{{ .Site.BaseURL }}">

    <!-- Assets like CSS, HTML -->
    {{ partial "assets-head.html" . }}

  </head>

  <!-- Closed in footer.html -->
  <body class="vyom-lang-{{ .Lang }}">
