<!-- The header for the site -->
<header id="vyom-site-header">

  <!-- Shri Ganesh Vandana -->
  <h3 id="vyom-site-header-shri-ganesh-vandana" class="vyom-lang-hi">
    <strong>&#xFD5; &#x950; श्री गणेशाय नमः &#xFD5;</strong>
  </h3>

  <!-- Main menu -->
  <div id="vyom-site-header-main-menu">

    <!-- Menu icon for mobile -->
    <label for="vyom-site-header-main-navigation-icon-checkbox" class="vyom-site-header-main-navigation-icon">
      <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </label>
    <input type="checkbox" id="vyom-site-header-main-navigation-icon-checkbox" role="button"/>

    <!-- Main site wide navigation -->
    <nav id="vyom-site-header-main-navigation">

      <ul>

        <!-- Home -->
        <li>
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ T "main_nav_home" }}</a>
        </li>
        <!-- Blog -->
        <li>
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ T "main_nav_blog" }}</a>
        </li>
        <!-- Projects -->
        <li>
          <a href="">{{ T "main_nav_projects" }}</a>
        </li>
        <!-- Contact -->
        <li>
          <!-- TODO: make check work for the current set language -->
          <a href="{{ if eq "hi" .Lang }}{{ else }}{{ .Lang }}{{ end }}/contact/">{{ T "main_nav_contact" }}</a>
        </li>

      </ul>

    </nav>

    <!-- Language Switcher -->
    <nav id="vyom-site-header-language-switcher">

      <ul>

        <!-- TODO: find better regex to make language permalinks -->
        <!-- Hindi -->
        <li class="{{ if eq "hi" .Lang }}vyom-is-active{{ end }}">
          <a href="{{ if eq "hi" .Lang }}{{ .Permalink }}{{ else }}{{ replace .Permalink "/en" "" }}{{ end }}" hreflang="hi" class="vyom-lang-hi">हिन्दी</a>
        </li>
        <!-- English -->
        <li class="{{ if eq "hi" .Lang }}vyom-is-active{{ end }}">
          <a href="{{ if eq "en" .Lang }}{{ .Permalink }}{{ else }}/en{{ .URL }}{{ end }}" hreflang="en" class="vyom-lang-en">English</a>
        </li>

      </ul>

    </nav>

  </div>

  <!-- Secondary menu with site branding etc. -->
  <div id="vyom-site-header-secondary-menu">

    <!-- Site branding -->
    <div id="vyom-site-header-secondary-menu-site-branding">

      <!-- Logo -->
      <a id="vyom-site-header-secondary-menu-site-branding-logo" href="{{ .Site.BaseURL | relLangURL }}">
        <img src="https://www.gravatar.com/avatar/4953ab121bc82272e81884d9c6e7392e?s=200"  alt="{{ T "site_title" }}" />
      </a>

      <!-- Site branding text -->
      <div id="vyom-site-header-secondary-menu-site-branding-text">

        <!-- Heading -->
        <a id="vyom-site-header-secondary-menu-site-branding-text-heading" href="{{ .Site.BaseURL | relLangURL }}">
          <h1>{{ T "site_title" }}</h1>
        </a>

        <!-- Sub heading -->
        <a id="vyom-site-header-secondary-menu-site-branding-text-sub-heading" href="{{ .Site.BaseURL | relLangURL }}">
          <h3>{{ T "site_slogan" }}</h3>
        </a>

      </div>

    </div>

    <!-- Contact links -->
    <div id="vyom-site-header-secondary-menu-contact-links">

      <ul>
        <!-- Email -->
        <li>
          <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </li>
        <!-- Facebook -->
        <li>
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <!-- Twitter -->
        <li>
          <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </li>
        <!-- Google plus -->
        <li>
          <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </li>
        <!-- linkedin -->
        <li>
          <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
      </ul>

    </div>

  </div>

</header>

<!-- Header separator -->
<hr id="vyom-site-header-separator"/>
